
html{
    background-color:rgba(28, 4, 66, 0.808);
}
section {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img {
    align-items: center;
}

main {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgb(0, 0, 0) 20%, rgba(28, 4, 66, 0.808) 100%);
}
.card{
    box-shadow: 0px 0px 80px 15px rgb(48, 167, 236);
}
.card-title{
    text-shadow: 0px 0px 30px rgb(255, 255, 255);
}
#colornav {
    background-color: rgba(28, 4, 66, 0.808);
    padding-top: 50px;
}

#first {
    display: flex;
    text-align: right;
    text-decoration: none;
    list-style: none;
    padding-bottom: 10px;
    justify-content: space-evenly;
    padding-left: 105px;
    text-shadow: 0px 0px 30px rgb(255, 255, 255);
    
}

#second {

    display: inline;
    flex: 1;
    color: whitesmoke;
    height: 50px;
    
    margin-bottom: 10px;
    
}